// Specific CSS for your home-pageh
#homepage-container {
  height: 100vh;
  background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("https://images.unsplash.com/photo-1547891654-e66ed7ebb968?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80.gif");
  // background-color: #CCCCCC; (commented out as it's not being used with the gradient method)
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.link_btns {
  display: inline-block;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 5px;
  padding-top: 5px;

  border: 2px solid white;
  color: white;
  text-decoration: bold;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: black;
    color: white;
  }
}
