<div  id="homepage-container">
  <%# <div id="home-page-design"> %>
    <%= link_to 'Art Space', artworks_path, id: 'main_page_title' %>
    <%= link_to 'Explore ', artworks_path, class: "link_btns" %>
  <%# </div> %>
</div>
