<div  id="homepage-container">
  <%# <div id="home-page-design"> %>
    <h1 id="main_page_title">Art Space</h1>
    <%= link_to 'Explore ', artworks_path, class: "link_btns" %>
  <%# </div> %>
</div>
