// INDEX PAGE VIEW BUTTON
  #view-btn-abs {
    position: absolute;
    display: none;
    text-decoration: none;
  }

  .hover-card-effect:hover #view-btn-abs{
    display: flex;
    align-items: center;
    font-size: 20px;
    top: 181px;
    color: white;
    background-color: #03071e;
    box-shadow: 0px -2px 20px 1px white;
    right: 20px;
    padding: 8px;
    border-radius: 50%;
    transition: 1s ease;
    }
// END



// LINK BUTTONS
.link_btns {
  display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    padding-top: 5px;

    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  // BACK BUTTON / SHOULD MAKE IT REUSABLE
  .back-btn-special-show-page {
    position: absolute;
    left: 30px;
    top: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: transparent;
    color: black;
  }
