
h1 {
  font-family: $headers-font;
  font-size: 80px;
  color: black;
  margin: 0;
  padding: 24px;
}


h2 {
  font-family: $headers-font;
  font-size: 24px;
  color: black;
  margin: 0;
}

p {
  font-family: $p-font;
  padding: 4px;
  margin: 0px;
  font-size: 15px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}
