//  HOVER CARD EFFECT -
.hover-card-effect {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: black;
  transition: transform 0.3s ;
  &:hover {
    border: 1px solid;
    transition: 0.5s ease;
    transform: scale(1.05);
  }
}
// END
