.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.index-map-design {
  height: 90vh;
  width: 100%;
  position: sticky !important;
  top: 80px;
  margin-left: 24px;
}
