// Card css for the show page
.artwork-show-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
// End

// Map design
.map-design {
  height: 90vh;
}
// End
