.menu-tab {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.menu-item {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  margin-right: 30px;
  font-size: 16px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(67, 67, 67);
  margin-bottom: 30px;
  margin-top: 10px;
}
