<%# <footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Your existing content -->
                <div class="footer-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center">

                <div class="footer-links">
                    <a href="#">Team</a>
                    <a href="#">About</a>
                    <a href="#">Support</a>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Empty column for spacing -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <p>ArtSpace GmbH</p>
            </div>
        </div>
    </div>
</footer> %>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<footer class="footer ">
  <ul class="icons">
      <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>
  <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Contact Us</a></li>
  </ul>
      <div class="footer-copyright">
          <p>Copyright @ 2023 All Rights Reserved.</p>
      </div>
</footer>
 