<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Your existing content -->
                <div class="footer-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center">

                <div class="footer-links">
                    <a href="#">Team</a>
                    <a href="#">About</a>
                    <a href="#">Support</a>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Empty column for spacing -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <p>ArtSpace GmbH</p>
            </div>
        </div>
    </div>
</footer>
