<nav class="navbar">
  <div class="navbar-left">
    <a href="#" class="home-link">
      <span class="home-text">Home</span>
      <span class="home-underline"></span>
    </a>
  </div>
  <div class="navbar-right">
    <a href="#" class="login-button">Log In</a>
  </div>
</nav>
